In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('ratings.csv')
data.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [55]:
data2 = pd.read_csv('movies.csv')
data2.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [53]:
r = data.loc[data['rating'] == 5.0].groupby('movieId').count()
r.sort_values(by = 'rating', ascending = False).head(1)

         userId  rating  timestamp
movieId
318         153     153        153

AttributeError: module 'pandas' has no attribute 'ratings'

In [67]:
summ=0
ds=pd.read_csv('power.csv')
ds2=ds[(ds['year']>=2005)&(ds['year']<=2010)&(ds['quantity']>0)]
ds3=ds2[ds2.category.isin([4,12,21])]
summ=ds3[ds3.country.str.contains('|'.join(['Lat','Lit','Est']))]['quantity'].sum()
print('суммарное потребление: {}'.format(summ))

суммарное потребление: 240580.0

In [74]:
power = pd.read_csv('power.csv')

# выбор периода с 2005 по 2010 год + отсеивание отрицательных значений
filt = power[(power['year'] >= 2005) & (power['year'] <= 2010) & (power['quantity'] > 0)] 

# фильтрация по нужным категориям
cat = filt[filt.category.isin([4, 12, 21])]

# фильтрация по нужным странам
country = cat[cat.country.str.contains('|'.join(['Lat', 'Lit', 'Est']))]

# суммарное потребление 
sum_q = country['quantity'].sum()

print(sum_q)

240580.0

In [78]:
url = 'https://www.finanz.ru/valyuty/eur-usd'

df = pd.read_html(url, attrs = {'class': 'news_table'}, encoding='utf-8')

In [79]:
df[:2]

[       Дата  Закрытие  Открытие  Максимум  Минимум
 0  21.02.21     12127     12118     12129    12110
 1  19.02.21     12120     12094     12146    12082
 2  18.02.21     12092     12045     12097    12035
 3  17.02.21     12046     12103     12106    12023
 4  16.02.21     12104     12130     12171    12095
 5  15.02.21     12130     12125     12147    12117
 6  14.02.21     12123     12116     12126    12116
 7  13.02.21     12119     12119     12119    12119
 8  12.02.21     12120     12133     12136    12081,
        Имя  Unnamed: 1     %     курс                 Дата
 0  EUR/RUB         NaN   535   902865  22.02.2021 19:05:00
 1  USD/RUB         NaN  2987    74371  22.02.2021 19:05:00
 2  CHF/RUB         NaN  2812   829732  22.02.2021 19:04:00
 3  JPY/RUB         NaN  7195     7079  22.02.2021 19:04:00
 4  GBP/RUB         NaN  5566  1045028  22.02.2021 19:04:00
 5  NOK/RUB         NaN    82     8762  22.02.2021 19:04:00
 6  AUD/RUB         NaN  7385   587844  22.02.2021 19:04:00
 7  NZD/RUB         NaN   705   544634  22.02.2021 19:04:00
 8  TRY/RUB         NaN -5013   105584  22.02.2021 19:04:00]