In [1]:
print (1 + 1)

2

In [2]:
1 + 1 # you don't have to use print if there is only one result

2

In [11]:
len ("abc") > len("abcf")

False

In [3]:
a = 10 + 20

In [2]:
a

30

In [4]:
print ("He said 'Hello'")

He said 'Hello'

In [7]:
my_string_1 = 'He said "Hello"''

In [8]:
my_string_1

'He said "Hello"'

In [9]:
7 == 7

True

In [10]:
15 != 15

False

In [22]:
height = 210
if height < 180:
    print ("в танкисты")
elif height < 200:
    print ("в десантники")
else: 
    print ("в другие войска")

в другие войска

In [24]:
height = 180

In [31]:
age = 20
if age >= 18:
    user_input = int(input('Введите рост'))
    if user_input < 170:
        print ('В танкисты')
    elif user_input < 185:
        print ('Во флот')
    elif user_input < 200:
        print ('В десантники')
    else:
        print ('В другие войска')
else:
    print ('Непризывной возраст')
print ('Конец программы')

Введите рост210
В другие войска
Конец программы

In [2]:
my_string = 'I am learning Python'

In [17]:
my_string [:13]

'I am learning'

In [20]:
target_string = 'SQL'

if target_string in my_string:
    print ('found')
else:
    print ('not found')

not found

In [28]:
name = 'anna'
lang = 'python'

print (f"Hello, {name}, i know {lang.capitalize ()} a bit")

Hello, anna, i know Python a bit

In [47]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Jan']
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 13000], ['Sep', 14000], ['Oct', 14300], ['Nov', 15000], ['Jan', 13800]]

In [46]:
income_by_months [1] [1]

15000

In [49]:
income_by_months_2 = [['Nov', 15], ['Dec', 16]]
income_by_months = income_by_months + income_by_months_2

In [50]:
print (income_by_months)

[['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 13000], ['Sep', 14000], ['Oct', 14300], ['Nov', 15000], ['Jan', 13800], ['Nov', 15], ['Dec', 16]]

In [53]:
first, second, third = ['первый', 'второй', 'третий']
third

'третий'

In [59]:
income_by_months.remove ['Jan', 13800]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [58]:
income_by_months

[['Jan', 13000],
 ['Feb', 14000],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 13000],
 ['Sep', 14000],
 ['Oct', 14300],
 ['Nov', 15000],
 ['Jan', 13800]]

In [60]:
import copy

In [61]:
a = [1, 2, 3]
b = copy.copy (a)

In [64]:
b.append (4)

In [66]:
a

[1, 2, 3]

In [67]:
salary_tuple = (1000, 1200, 1300, 900, 800)

In [69]:
salary_tuple

(1000, 1200, 1300, 900, 800)

In [70]:
t = ('one', )

In [71]:
type(t)

tuple

In [72]:
f = ('one')

# Цикл while

In [ ]:
x = 5
while x != 0:
    x -= 1
    print (x)