In [5]:
day = int(input('Введите день: '))
month = str(input('Введите месяц: '))

if (day >= 23 and month == 'Декабрь') or (day <= 20 and month == 'Январь'):
    print ('Ваш знак зодиака: Козерог')
elif (day >= 21 and month == 'Январь') or (day <= 19 and month == 'Февраль'):
    print ('Ваш знак зодиака: Водолей')
elif (day >= 20 and month == 'Февраль') or (day <= 20 and month == 'Март'):
    print ('Ваш знак зодиака: Рыбы')
elif (day >= 21 and month == 'Март') or (day <= 20 and month == 'Апрель'):
    print ('Ваш знак зодиака: Овен')
elif (day >= 21 and month == 'Апрель') or (day <= 21 and month == 'Май'):
    print ('Ваш знак зодиака: Телец')
elif (day >= 22 and month == 'Май') or (day <= 21 and month == 'Июнь'):
    print ('Ваш знак зодиака: Близнецы')
elif (day >= 22 and month == 'Июнь') or (day <= 22 and month == 'Июль'):
    print ('Ваш знак зодиака: Рак')
elif (day >= 23 and month == 'Июль') or (day <= 23 and month == 'Август'):
    print ('Ваш знак зодиака: Лев')
elif (day >= 24 and month == 'Август') or (day <= 23 and month == 'Сентябрь'):
    print ('Ваш знак зодиака: Дева')
elif (day >= 24 and month == 'Сентябрь') or (day <= 23 and month == 'Октябрь'):
    print ('Ваш знак зодиака: Весы')
elif (day >= 24 and month == 'Октябрь') or (day <= 22 and month == 'Ноябрь'):
    print ('Ваш знак зодиака: Скорпион')
else:
    print ('Ваш знак зодиака: Стрелец')

Введите день: 20
Введите месяц: Декабрь
Ваш знак зодиака: Стрелец

In [9]:
width = 10
length = 205
height = 5

if (width <= 15 and length <= 15 and height <= 5):
    print ('Коробка №1')
elif (15 < width < 50 or 15 < length < 50 or 15 < height < 50):
    print ('Коробка №3')
elif (length > 200):
    print ('Упаковка для лыж')
else:
    print ('Стандартная коробка №3')

Упаковка для лыж

In [26]:
word = 'testing'

if len(word) % 2 == 0:
    print (word[int(len(word)/2-1):int(len(word)/2+1)])
else:
    print (word[int(len(word)/2)])

t

In [15]:
word = 'hello'

print (word[1:3])

el

In [27]:
a = 44

if a % 2 == 0:
    print ('even')

even

number = int(input(Введите число: ))

In [41]:
number = int(input('Введите число: '))
sum = 0

while number != 0:
    sum += number
    number = int(input('Введите число: '))

print(sum)

Введите число: 1
Введите число: 1
Введите число: 0
2

In [44]:
number = int(input('Введите число: '))
sum = 0

while number != 0:
    sum += number
    number = int(input('Введите число: '))
    
print ('Результат: ')
print (sum)

Введите число: 1
Введите число: 1
Введите число: 0
Результат:
2

In [38]:
a = int(input())
sum = 0

while a != 0:
    sum += a
    a = int(input())
 
print(sum)

1
2
0
3

In [52]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

pairs = list (zip(boys, girls))

for ideal_pairs in pairs:
    print (ideal_pairs[0])
    for ideal_pairs_2 in ideal_pairs[1]:
        print (ideal_pairs_2)
    print ()

Peter
K
a
t
e

Alex
L
i
z
a

John
K
i
r
a

Arthur
E
m
m
a

Richard
T
r
i
s
h
a

In [76]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

sorted_boys = sorted(boys)
sorted_girls = sorted(girls)

if len(sorted_boys) == len(sorted_girls):
    for boy, girl in zip(sorted_boys, sorted_girls):
        print ('Идеальная пара:', boy, 'и', girl)
else:
    print ('Внимание, кто-то может остаться без пары!')

Идеальная пара: Alex и Emma
Идеальная пара: Arthur и Kate
Идеальная пара: John и Kira
Идеальная пара: Peter и Liza
Идеальная пара: Richard и Trisha

In [138]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

for name, temperature in countries_temperature:
    print(name)
    print(*temperature)
    
print (sum(temperature))

Thailand
75.2 77 78.8 73.4 68 75.2 77
Germany
57.2 55.4 59 59 53.6
Russia
35.6 37.4 39.2 41 42.8 39.2 35.6
Poland
50 50 53.6 57.2 55.4 55.4

TypeError: 'int' object is not callable

In [3]:
number_list = [45, 34, 10, 36, 12, 6, 80]

print (str(sum(number_list)))

223

In [98]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

for i in countries_temperature:
    print(i[0], '-', round((sum(i[1]) / len(i[1]) - 32) / 1.8, 1), 'C')

TypeError: 'int' object is not callable

In [6]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

for country, temperature in countries_temperature:
    print (country, temperature)
    print (round(sum(temperature)/len(temperature), 1))

Thailand [75.2, 77, 78.8, 73.4, 68, 75.2, 77]
74.9
Germany [57.2, 55.4, 59, 59, 53.6]
56.8
Russia [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]
38.7
Poland [50, 50, 53.6, 57.2, 55.4, 55.4]
53.6