In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('Netology_A_B-testing_HW_1.csv')

Date - дата сессии  
User_id - id пользователя  
Hour - час старта сессии  
App_opened - приложение открыто  
Price_seen - пользователь ввел данные маршрута и показана цена  
Order_made - пользователь кликнул по кнопке заказа  
Surge - в этот период был включен surge (надбавка к стоимости поездки в период повышенного спроса)  
Ride_completed - поездка успешно завершена  
User_cancelled - пользователь отменил поездку  
Age - возраст пользователя  
Os - операционная система на телефоне  
City_center_order - заказ был сделан из центра города  
Order_class - класс поездки  
Distance - дистанция в км  
Rfm - rfm-сегментпользователя

In [3]:
data

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
0,0,2020-05-21,867689,12,1,1,1,no surge,1,0,20,iOS,0,business,7.982135,low
1,1,2020-05-23,752172,5,1,1,1,no surge,1,0,37,Android,1,economy,2.908468,high
2,2,2020-05-20,486559,15,1,1,1,no surge,1,0,47,Android,0,comfort,7.224614,low
3,3,2020-05-19,304024,0,1,1,1,no surge,1,0,59,Android,1,economy,1.874349,low
4,4,2020-05-23,139420,0,1,1,1,no surge,1,0,19,Android,0,business,10.704778,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101495,101495,2020-05-24,288445,16,1,1,1,no surge,1,0,29,Android,0,comfort,1.725907,high
101496,101496,2020-05-19,627754,2,1,1,1,surge,1,0,23,iOS,1,comfort,6.206134,medium
101497,101497,2020-05-23,784442,1,1,1,1,no surge,1,0,40,iOS,0,economy,6.624225,medium
101498,101498,2020-05-20,232993,13,1,1,1,no surge,1,0,52,iOS,0,business,8.825188,low
101499,101499,2020-05-22,337225,21,1,1,1,surge,1,0,18,Android,0,economy,0.882172,medium

In [4]:
for col in data.columns:
    pct_missing = data[col].isna().mean()
    print(f'{col} - {pct_missing :.1%}')
    
# поиск стобцов с пропусками

Unnamed: 0 - 0.0%
date - 0.0%
user_id - 0.0%
hour - 0.0%
app_opened - 0.0%
price_seen - 0.0%
order_made - 0.0%
surge - 9.9%
ride_completed - 0.0%
user_cancelled - 0.0%
age - 0.0%
os - 0.0%
city_center_order - 0.0%
order_class - 0.0%
distance - 9.9%
rfm - 0.0%

# No.1

In [5]:
with_ = data.loc[data['surge'] == 'surge'] # with surge
without = data.loc[data['surge'] == 'no surge'] # without surge

In [9]:
with_.count().head(1)

Unnamed: 0    31643
dtype: int64

In [10]:
without.count().head(1)

Unnamed: 0    59788
dtype: int64

# No.2

In [11]:
seen = data.loc[data['price_seen'] == 1] # показана цена при заказе
not_seen = data.loc[data['price_seen'] == 0] # не показана цена при заказе

In [12]:
seen['user_cancelled'].count()

91431

In [13]:
not_seen['user_cancelled'].count()

10069

# No.3

In [19]:
business = data.loc[data['order_class'] == 'business'] # показана цена при заказе
comfort = data.loc[data['order_class'] == 'comfort'] # не показана цена при заказе 
economy = data.loc[data['order_class'] == 'economy']

In [20]:
business['user_cancelled'].count()

12033

In [21]:
comfort['user_cancelled'].count()

42248

In [22]:
economy['user_cancelled'].count()

47219

# No.4

In [5]:
data.groupby(['os']).count()

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,city_center_order,order_class,distance,rfm
os,,,,,,,,,,,,,,,
Android,56696,56696,56696,56696,56696,56696,56696,50049,56696,56696,56696,56696,56696,50049,56696
iOS,44804,44804,44804,44804,44804,44804,44804,41382,44804,44804,44804,44804,44804,41382,44804

# No.5

In [8]:
data['app_opened'].count()

101500

In [15]:
data.loc[data['order_made'] == 1].count()

Unnamed: 0           74236
date                 74236
user_id              74236
hour                 74236
app_opened           74236
price_seen           74236
order_made           74236
surge                74236
ride_completed       74236
user_cancelled       74236
age                  74236
os                   74236
city_center_order    74236
order_class          74236
distance             74236
rfm                  74236
dtype: int64

# No.6

In [18]:
data.groupby(['rfm']).count()

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance
rfm,,,,,,,,,,,,,,,
high,12163,12163,12163,12163,12163,12163,12163,10891,12163,12163,12163,12163,12163,12163,10891
low,47364,47364,47364,47364,47364,47364,47364,42760,47364,47364,47364,47364,47364,47364,42760
medium,41973,41973,41973,41973,41973,41973,41973,37780,41973,41973,41973,41973,41973,41973,37780